<p style="color: green"><%= notice %></p>

<%= render @board %>

<h1>Detalhes da banca</h1>

<div>
  <%= link_to "Edit this board", edit_projects_board_path(@board) %> |
  <%= link_to "Back to boards", projects_boards_path %>  

  <p><strong>User:</strong> <%= @board.user.name %></p>
  <p><strong>Project:</strong> <%= @board.project.title %></p>
  <p><strong>Type:</strong> <%= @board.perfil_type %></p>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>
