

<%= form_with(model: proposal) do |form| %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% if proposal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
        <% proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :theme %>
    <%= form.text_field :theme, class: "placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div> 

  <div class="field">
    <%= form.label :objectives %>
    <%= form.text_area :objectives, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :literature %>
    <%= form.text_area :literature, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, options_for_select(['Analisando', 'Aprovado', 'Reprovado']), {}, class: "placeholder:italic placeholder-text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :project, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :project_id, Project.all, :id, :title, { prompt: "Select an option" }, class: "placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
    </div>
  </div>

<% end %>
                
              
