<%= render partial:'layouts/dashboard/header' %>   


<div class="bg-white">
  <div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

      <section aria-labelledby="members-heading" class="pb-24 pt-6">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          
          <!-- Sidebar -->
          <%= render partial:'layouts/dashboard/sidebar' %>  

          <!-- Project Members grid -->
          <div class="lg:col-span-3">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-0">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900"> Members </h1>         
            </div>

            <div>
              <form action="<%= projects_members_path %>" method="post" accept-charset="UTF-8">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <div class="form-group" style="margin: 5px;">
                  <label for="user_id">User: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_member[user_id]" id="user_id" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required>
                    <option value="">Select an option</option>
                    <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= user.email %></option>
                    <% end %>
                  </select>
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="perfil_type">Type: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_member[perfil_type]" id="perfil_type" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required>
                    <option value="">Select an option</option>
                    <option value="Autor"> Autor</option>
                    <option value="Co-autor"> Co-autor</option>
                    <option value="Orientador"> Orientador</option>
                    <option value="Co-Orientador"> Co-Orientador</option>
                  </select>    
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="project_id">Project: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_member[project_id]" id="project_id" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required>
                    <option value="<%= @project.id %>"> <%= @project.title %></option>
                  </select>    
                </div>

                <button type="submit" class="group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm" style="background-color: #3b82f6;">Add Member</button>
              </form>           
            </div>   

          </div> 

        </div>

      </section>
      
    </main>
  </div>
</div>


<%= render partial:'layouts/dashboard/footer' %>  
