
    <div class="py-4">
      <a class="hover:bg-blue-400 group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm", href='<%= "/project/#{@project.id}/boards/new" %>' style="margin: 5px;"> 
        Add Boards
      </a> 
      
      <!-- Card-->
      <div id='project_boards' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white" style="margin-top: 15px;">
        <h1 class="text-3xl font-bold justify-center" style="text-align: center;">
          Project boards
        </h1>
        <table id="project_boards_table" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
          <thead>

            <tr>
              <th data-priority="1">User</th>
              <th data-priority="2">Type</th>
              <th data-priority="3">Action</th>
            </tr>

          </thead>
          <tbody>
            
            <% @project_boards.each do |board| %>
              <tr>
                <td><%= link_to board.user.name, board %></td>
                <td><%= link_to board.perfil_type, board %></td>
                <td class="flex">               
                  <%= link_to 'Detalhes', board, class: "group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm", style: "background-color: #3b82f6; margin: 3px;" %>              
                  <%= link_to 'Excluir', board, method: :delete, data: { confirm: 'Tem certeza?', turbo: false }, class: "group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm", style: "background-color: #F44336; margin: 3px;" %>
                </td>
              </tr>
            <% end %>
          
          </tbody>
        </table>

      </div>
      <!--/Card-->