<p style="color: green"><%= notice %></p>

<%= render @user %>

<h1>Detalhes do Usuário</h1>

<div>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Nome:</strong> <%= @user.name %></p>
    <p><strong>Conta:</strong> <%= @user.user_type %></p>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
