

<%= form_with(model: draft) do |form| %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% if draft.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
        <% draft.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :theme %>
    <%= form.text_field :theme, class: "placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div> 

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_area :problem, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :study_object %>
    <%= form.text_area :study_object, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :action_field %>
    <%= form.text_area :action_field, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :general_objective %>
    <%= form.text_area :general_objective, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :specific_objective %>
    <%= form.text_area :specific_objective, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :justification %>
    <%= form.text_area :justification, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :hypothesis %>
    <%= form.text_area :hypothesis, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :variables %>
    <%= form.text_area :variables, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :methodology %>
    <%= form.text_area :methodology, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :search %>
    <%= form.text_area :search, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :methods %>
    <%= form.text_area :methods, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :techniques %>
    <%= form.text_area :techniques, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :structure %>
    <%= form.text_area :structure, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_area :references, class: "tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>
  <%= tinymce %>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, options_for_select(['Analisando', 'Aprovado', 'Reprovado']), {}, class: "placeholder:italic placeholder-text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :project, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :project_id, Project.all, :id, :title, { prompt: "Select an option" }, class: "placeholder:italic placeholder-text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" %>
    </div>
  </div>

<% end %>
                
         
