<%= render partial:'layouts/dashboard/header' %>  


<div class="bg-white">
  <div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <section aria-labelledby="project-heading" class="pb-24 pt-6">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          
          <!-- Sidebar -->
          <%= render partial:'layouts/dashboard/sidebar' %> 

          <div class="lg:col-span-3">
            <!-- Project description -->
            <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-0">

              <h1 class="text-4xl font-bold tracking-tight text-gray-900"> Monograph </h1>

              <div class="flex items-center">
                <% if @monograph.state == "Analisando" %>
                  <%= link_to "Edit", edit_projects_monograph_path(@monograph), class: "group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm", style: "background-color: #3b82f6; margin: 3px;" %>                
                <% end %>
                <% if @monograph.state == "Analisando" || @monograph.state == "Reprovado" %>
                  <%= button_to "Excluir", @monograph, method: :delete, class: "group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm", style: "background-color: #F44336; margin: 3px;" %>
                <% end %>
                <a class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50", href='<%= "/projects/#{@monograph.project.id}" %>' style="margin: 5px;">                 
                  Back
                </a>
              </div> 

            </div>        
          
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
              <!-- Project monograph -->
              <div class="lg:col-span-3">

                <p><strong>Project:</strong> <%= @monograph.project.title %></p>
                <p><strong>Theme:</strong> <%= @monograph.theme %></p>
                <p><strong>Editor:</strong> <%= @monograph.editor %></p>
                <p><strong>Language:</strong> <%= @monograph.language %></p>
                <p><strong>Country:</strong> <%= @monograph.country %></p>
                <p><strong>Project type:</strong> <%= @monograph.project_type %></p>
                <p><strong>Pages:</strong> <%= @monograph.pages %></p>
                <p><strong>Terms use:</strong> <%= @monograph.terms_use %></p>
                <p><strong>Objective:</strong> <%= @monograph.objective %></p>
                <p><strong>Summary:</strong> <%= @monograph.summary %></p>
                <p><strong>State:</strong> <%= @monograph.state %></p>
                <p><strong>Privacy:</strong> <%= @monograph.privacy %></p>
                <p><strong>Lective year:</strong> <%= @monograph.lective_year %></p>         

              </div> 
            </div> 
          </div>

        </div>  
      </section>              
    </main>  

  </div>      
</div>

<%= render partial:'layouts/dashboard/footer' %>  
