<%= render partial:'layouts/dashboard/header' %>   


<div class="bg-white">
  <div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

      <section aria-labelledby="archives-heading" class="pb-24 pt-6">

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          
          <!-- Sidebar -->
          <%= render partial:'layouts/dashboard/sidebar' %>  

          <!-- Project Archives grid -->
          <div class="lg:col-span-3">

            <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-0">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900"> Archives </h1>         
            </div>

            <div>
              <form action="<%= projects_archives_path %>" method="post" accept-charset="UTF-8">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <div class="form-group" style="margin: 5px;">
                  <label for="archive">Archive: <span aria-hidden="true" style="color: red">*</span></label>
                  <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                    <div class="text-center">
                      <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                      </svg>
                      <div class="mt-4 flex text-sm leading-6 text-gray-600">
                        <label for="archive" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                          <span style="color: blue">Upload a file</span>
                          <input id="archive" name="archive" type="file" class="sr-only">
                        </label>
                        <p class="pl-1"> or drag and drop</p>
                      </div>
                      <p hidden class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                    </div>
                  </div>
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="description">Description: <span aria-hidden="true" style="color: red">*</span></label>
                  <textarea class="tinymce placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" id="description" name="projects_archive[description]" placeholder="Description" rows="4" required>
                  </textarea>

                  <%= tinymce %>
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="project_type">Project type: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_archive[project_type]" id="project_type" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required>
                    <option value="<%= @project.id %>"> Projecto</option>
                    <option value="<%= @project.id %>"> Proposta </option>
                    <option value="<%= @project.id %>"> AnteProjecto </option>
                    <option value="<%= @project.id %>"> Monografia </option>
                  </select>    
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="project_id">Project: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_archive[project_id]" id="project_id" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required>
                    <option value="<%= @project.id %>"> <%= @project.title %> </option>
                  </select>    
                </div>

                <div class="form-group" style="margin: 5px;">
                  <label for="user_id">User: <span aria-hidden="true" style="color: red">*</span></label>
                  <select name="projects_archive[user_id]" id="user_id" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" required readonly="readonly">                    
                    <% @project.projects_member.each do |projects_member| %>
                      <% if current_user.email == projects_member.user.email %>
                        <option value="<%= projects_member.user.id %>" selected> <%= projects_member.user.email %> </option>
                      <% else %>
                        <option value="<%= projects_member.user.id %>"> <%= projects_member.user.email %> </option>
                      <% end %> 
                    <% end %>
                  </select>    
                </div>

                <button type="submit" class="group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm" style="background-color: #3b82f6;">Add archive</button>
              </form>          
            </div>   

          </div> 

        </div>

      </section>
      
    </main>
  </div>
</div>


<%= render partial:'layouts/dashboard/footer' %>  
