<%= render partial:'layouts/dashboard/header' %>   

<div class="bg-white">
  <div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          
          <!-- Sidebar -->
          <%= render partial:'layouts/dashboard/sidebar' %>  

          <!-- Project grid -->
          <div class="lg:col-span-3">        
          
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
              <!-- Project monograph -->
              <div class="lg:col-span-3">

                <%= form_with(model: keyword) do |form| %>

                  <div class="actions">
                    <%= form.submit %>
                  </div>

                  <hr>

                  <% if keyword.errors.any? %>
                    <div style="color: red">
                      <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

                      <ul>
                        <% keyword.errors.each do |error| %>
                          <li><%= error.full_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>  

                  <div class="form-group">
                    <%= form.label :project, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                      <%= form.collection_select :project_id, Project.all, :id, :title, { prompt: "Select an option" }, class: "form-control" %>
                    </div>
                  </div>

                  <div class="field">
                    <%= form.label :keyword %>
                    <%= form.text_field :keyword %>
                  </div>
                  
                <% end %>
                
              </div> 
            </div> 
          </div>

        </div>  
      </section>              
    </main>  

  </div>      
</div>

<%= render partial:'layouts/dashboard/footer' %>  
